{% extends 'headerPage.html' %}
{% block content%}

<div class="container flex justify-center md:flex-row items-center px-6 mx-auto space-y-0 mt-10">
    <div class="avatar mr-5">
        <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
            {%  if request.user.image.url != ""  %}
            <img src="{{ request.user.image.url }}" width = "250">
            {%  else  %}
            <img src="/media/profile_image/profile.png" width = "250">
            {% endif %}
        </div>
    </div>
    <div class="ml-5">
        <p>Patient</p>
        <p class="text-xl font-bold">{{request.user.first_name.capitalize}} {{request.user.last_name.capitalize}}</p>
        <a href="{% url 'edit_account' %}"><button class="btn btn-active btn-primary text-white">Edit Profile Details</button></a>
        <a href="{% url 'change_password' %}"><button class="btn btn-active btn-primary text-white mt-2">Change Password</button></a>
    </div>
</div>
<div class="flex flex-row px-1 justify-center mt-10 mb-10">
    <div>
        <h3 class="text-xl font-bold">Profile Details</h3>
        <p class="mt-5">Name</p>
        <p class="text-primary font-bold">{{request.user.first_name.capitalize}}
        {{request.user.last_name.capitalize}}</p>
    </div>
    <div class="ml-10">
        <h3 class="text-xl font-bold">Contact Details</h3>
        <p class="mt-5">Email Address</p>
        <p class="text-primary font-bold">{{ request.user.email }}</p>

        <p class="mt-5">Phone Number</p>
        <p class="text-primary font-bold">{{ request.user.phone_number }}</p>
    </div>
</div>

{% if heartForms %}

<div class="overflow-x-auto" style="max-width:70%;margin:auto;">
<h2 class="text-xl font-bold text-primary mt-5 mb-5">Heart Disease Risk Trials</h2>
<table class="table w-full text-center">
<thead>
    <th style="position:inherit">age</th>
    <th>sex</th>
    <th>cp</th>
    <th>trestbps</th>
    <th>chol</th>
    <th>fbs</th>
    <th>restecg</th>
    <th>thalch</th>
    <th>exang</th>
    <th>oldpeak</th>
    <th>slope</th>
    <th>ca</th>
    <th>thal</th>
    <th>created_at</th>
    <th>result</th>
</thead>
<tbody>
    {% for hform in heartForms %}
    <tr class="hover">
        <td>{{hform.age}}</td>
        <td>{{hform.sex}}</td>
        <td>{{hform.cp}}</td>
        <td>{{hform.trestbps}}</td>
        <td>{{hform.chol}}</td>
        <td>{{hform.fbs}}</td>
        <td>{{hform.restecg}}</td>
        <td>{{hform.thalch}}</td>
        <td>{{hform.exang}}</td>
        <td>{{hform.oldpeak}}</td>
        <td>{{hform.slope}}</td>
        <td>{{hform.ca}}</td>
        <td>{{hform.thal}}</td>
        <td>{{hform.created_at|date:'Y-m-d H:i'}}</td>
        <td>{{hform.result}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endif %}

{%  if hasDoctor  %}
<div class="overflow-x-auto" style="max-width:70%;margin:auto;margin-bottom: 40px;">
<h2 class="text-xl font-bold text-primary mt-5 mb-5">Connected Doctor</h2>
<table class="table w-full text-center">
    <thead>
        <th style="position:inherit">name</th>
        <th>username</th>
        <th>registrationNo</th>
        <th>placeOfPractice</th>
        <th>university</th>
        <th>phone</th>
        <th>email</th>
        <th>image</th>
        <th>action</th>
    </thead>
    <tbody>
        <tr class="hover">
            <td>Dr. {{connected_doctor.user.first_name}} {{connected_doctor.user.last_name}}</td>
            <td>{{connected_doctor.user.username}}</td>
            <td>{{connected_doctor.registrationNo}}</td>
            <td>{{connected_doctor.placeOfPractice}}</td>
            <td>{{connected_doctor.university}}</td>
            <td>{{connected_doctor.user.phone_number}}</td>
            <td>{{connected_doctor.user.email}}</td>
            {%  if connected_doctor.user.image.url != ""  %}
            <td><img src="{{ connected_doctor.user.image.url }}" width = "100"></td>
            {%  else  %}
            <td><img src="/media/profile_image/doctor.png" width = "100"></td>
            {% endif %} 
            <td> <a href="{% url 'change_connection' operation='remove' pk=connected_doctor.user.pk %}"> <button class="btn btn-primary text-white">Remove</button></a></td>           
        </tr>
    </tbody>
</table>
</div>
{%  else  %}

<div class="overflow-x-auto" style="max-width:70%;margin:auto;margin-bottom: 40px;">
<h2 class="text-xl font-bold text-primary mt-5 mb-5">Connect With a Doctor</h2>
<table class="table w-full text-center">
    <thead>
        <th style="position:inherit">name</th>
        <th>username</th>
        <th>registrationNo</th>
        <th>placeOfPractice</th>
        <th>university</th>
        <th>image</th>
        <th>action</th>
    </thead>
    <tbody>
        {% for doc in availableDoctors %}
        <tr class="hover">
            <td>{{doc.user.first_name}} {{doc.user.last_name}}</td>
            <td>{{doc.user.username}}</td>
            <td>{{doc.registrationNo}}</td>
            <td>{{doc.placeOfPractice}}</td>
            <td>{{doc.university}}</td>
            {%  if doc.user.image.url != ""  %}
            <td><img src="{{ doc.user.image.url }}" width = "100"></td>
            {%  else  %}
            <td><img src="/media/profile_image/doctor.png" width = "100"></td>
            {% endif %} 
            <td> <a href="{% url 'change_connection' operation='add' pk=doc.user.pk %}"> <button class="btn btn-primary text-white">Connect</button></a></td>           
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
{% endblock %}