{% extends 'headerPage.html' %}
{% block content%}
{% load widget_tweaks %}
<section>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto">
      <a href="{% url 'heartForm' %}" class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
          <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
          HeartAssist    
      </a>
      <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                  Create a Patient Account
              </h1>
              <form class="space-y-4 md:space-y-6" action="{% url 'patient_register' %}" method="POST">
                {% csrf_token %}
                    {% for field in form.visible_fields %}
                      <div class="form-group">
                        <label class="block mb-2 mt-4 text-sm font-medium text-gray-900"> {{ field.label_tag }} </label>
                        {% render_field field class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %}
                              {% for error in field.errors %}
                                <span style="color:red">{{ error }}</span>
                              {% endfor %}
                              {% if messages%}
                              {% for message in messages %}
                                <span style="color:red">{{ message }}</span>
                              {% endfor %}
                              {% endif %}
                    {% endfor %}
                        <!-- <input type="submit" value="Register" class="btn btn-block btn-primary"> -->
                      </div>
                  <div class="flex items-start pt-4">
                      <div class="flex items-center h-5">
                        <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300" required="">
                      </div>
                      <div class="ml-3 text-sm">
                        <label for="terms" class="font-light text-gray-500">I accept the <a class="font-medium text-primary-600 hover:underline" href="#">Terms and Conditions</a></label>
                      </div>
                  </div>
                  <button type="submit" value="Register" style="background-color: #45adee;" class="w-full my-5 text-white btn btn-primary">Create a Patient Account</button>
                  <p class="text-sm font-light text-gray-500">
                      Already have an account? <a href="{% url 'login' %}" class="font-medium text-primary-600 hover:underline">Log in here</a>
                  </p>
              </form>
          </div>
      </div>
  </div>
</section>
{% endblock %}

