{% extends 'headerPage.html' %}

{% block title %}Register | HeartAssist{% endblock title %}

{% block content%}
{% load widget_tweaks %}

<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-[80vh]">
  <h2 class="flex items-center mb-6 text-2xl font-semibold text-primary text-center">What Profile Would You Like to Create?</h2> 
  <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <div>
          <a type="button" style="background-color: #45adee;" class="w-full text-white btn btn-primary" href="{% url 'patient_register' %}">I am a patient</a>
        </div>
        <div>
          <a type="button" style="background-color: #45adee;" class="w-full text-white btn btn-primary" href="{% url 'doctor_register' %}">I am a doctor</a>
        </div>
      </div>
  </div>
</div>

{% endblock %}